.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 576px){
.card-deck {
    display: flex;
    margin-right: 0%;
    margin-left: 0%;
    /* margin-top:25px; */

}
@media (min-width: 576px){
.one{
  background-color: lightblue;
  color: black;
  padding: 30px;
  align-content: center;
  border-radius: 7px;
  margin-bottom: 10px;

}
}

@media (min-width: 576px){
  .two{
    color: darkred;
    /* font-style: oblique; */
    margin-top: 15px;
    padding-top:20px;

    display: flex;
    text-align: left;
  
  }
  }

@media (min-width: 376px){
.head{
    padding: 15px;

}
}
}
.new{
color: black;
background-color: lightblue;
padding-top: 3em;
position: relative;
bottom: 0;
border-radius: 7px;
margin-bottom: 10px;
padding: 30px;



}